.nodes circle {
    cursor: pointer;
    fill: #ff3399;
    stroke: #000;
    stroke-width: .5px;
}

.links line {
    fill: none;
    stroke: #9ecae1;
    stroke-width: .5px;
}

text {
  font-family: sans-serif;
  font-size: 5px;
}